.jumbotron {
    background-color: #D9D9D9;
    color: white;
}
.jumbotron h1 {
    color: #005caa;
}
.btn-success{
    background-color: #005caa;
    border: none;
}
.header {
    border-bottom: 1px solid #ffd901;
}
.well{
    background-color: #D9D9D9;
}
.tab-pane {
    background-color: #D9D9D9;
}
.panel-body{
    color: #2b2a30;
}